.menu-button {
  position: absolute;
  right: 14px;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-top: 5px;
}

.cross-button {
  position: absolute;
  left: 12px;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-top: 5px;
}

.drawer {
  width: 258px;
  padding: 20px 20px;
}

.mobile-nav-menu {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 16px;
  list-style: none;
  padding: 0;
  margin-top: 50px;
  margin-left: 6px;
}

.mobile-nav-links {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 6px;
  width: 125px;
}
